services:
  web:
    container_name: web
    build:
      context: ./web
      args:
        NEXT_PUBLIC_API_URL: http://localhost:${API_PORT}
        NODE_ENV: production
    image: damianzamolski/party-games-web:latest
    environment:
      - PORT=${WEB_PORT}
    ports:
      - '${WEB_PORT}:${WEB_PORT}'
    restart: unless-stopped
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'wget --no-verbose --tries=1 --spider http://0.0.0.0:${WEB_PORT} || exit 1',
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s

  api:
    container_name: api
    build:
      context: ./api
    image: damianzamolski/party-games-api:latest
    environment:
      - DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@postgres/${DATABASE_NAME}
      - NODE_ENV=production
      - PORT=${API_PORT}
    ports:
      - '${API_PORT}:${API_PORT}'
    restart: unless-stopped
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'wget --no-verbose --tries=1 --spider http://localhost:${API_PORT}/health || exit 1',
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres
    container_name: postgres
    environment:
      - POSTGRES_DB=${DATABASE_NAME}
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
    ports:
      - '${DATABASE_PORT}:5432'
    volumes:
      - ./volumes/postgres:/var/lib/postgresql
    command:
      - postgres
      - -c
      - log_statement=all
      - -c
      - log_duration=on
      - -c
      - logging_collector=off
    restart: unless-stopped
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready', '-d', '${DATABASE_NAME}']
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s

  loki:
    profiles:
      - prod
    image: grafana/loki:latest
    container_name: loki
    restart: unless-stopped

  grafana:
    profiles:
      - prod
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - '${GRAFANA_PORT}:3000'
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./volumes/grafana:/var/lib/grafana
    restart: unless-stopped
