name: ci

on:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: test
        run: ./test.sh

      - name: upload test report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: test-volume
