name: ci

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: set up docker buildx
        uses: docker/setup-buildx-action@v3

      - name: docker bake
        uses: docker/bake-action@v6
        with:
          files: |
            compose.yaml
            compose.test.yaml
          load: true
          set: |
            *.cache-from=type=gha
            *.cache-to=type=gha,mode=max

      - name: test
        run: ./test.sh

      - name: upload test report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: volumes/test

  web:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: build and push image
        uses: docker/build-push-action@v5
        with:
          context: '{{defaultContext}}:web'
          tags: ${{ secrets.DOCKERHUB_USER }}/party-games-web:latest
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max

  api:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: build and push image
        uses: docker/build-push-action@v5
        with:
          context: '{{defaultContext}}:api'
          tags: ${{ secrets.DOCKERHUB_USER }}/party-games-api:latest
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
