name: ci

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: test
        run: ./test.sh

      - name: upload test report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: volumes/test
  
  web:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: build and push image
        uses: docker/build-push-action@v5
        with:
          context: web
          tags: ${{ secrets.DOCKERHUB_USER }}/party-games-web:latest
          push: true

  api:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: build and push image
        uses: docker/build-push-action@v5
        with:
          context: api
          tags: ${{ secrets.DOCKERHUB_USER }}/party-games-api:latest
          push: true
